<section class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>
                {{title}}
            </h2>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <img src="assets\JV-SVG-PL-YHWH.svg" alt="logo" class="img-fluid p-2 ">

            <img [src]=" 'assets/images/'+sourceImg" alt="logo" class="img-fluid image" (click)="changeImage()">

        </div>

        <div class="col-12 col-md-6">
            <p>que le seigneur soit avec vous.
                3 Mais vous, ne vous faites pas de mal ni à vos bêtes, ni à la terre desséchée, ni aux arbres dont vous pouvez user pour votre nourriture, ni à vos bêtes sauvages. </p>

        </div>
    </div>

</section>